<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.forum3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Forum3"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".Activity.HotelInfoMapsActivity"
            android:exported="true"
            android:label="@string/title_activity_hotel_info_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HotelUrlActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FoodAndDiningActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.HotelInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.QnAActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ResourcesListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SponsorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BlogDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MapEventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BlogListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SponsorActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VideoListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SpeakerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SpeakerListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SessionSpeakerListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SessionsListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AgendaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AgendaListAct"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NotificationListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ResponseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SampleActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Activity.ForgetPassActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChooseLoginActivity"
            android:exported="true" />
    </application>

</manifest>